.inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;

  div {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  input {
    border-radius: 4px;
    padding: 4px;
    flex: 1;
  }
}

.flex {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.show {
  border: 1px saddlebrown solid;
  border-radius: 4px;
  padding: 8px;
  text-wrap: wrap;
  max-width: 600px;
  word-wrap: break-word;
}
